.header {
  background-color: rgb(255, 255, 255);
  color: #333;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 10px;
}

.header .logo img {
  height: 3rem;
  display: block;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  font-size: 16px;
}

.menuIcon {
  display: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 0.8rem 1rem;
  }

  .destop_menu {
    display: none;
  }

  .menuOpen {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgba(240, 248, 255, 0.98);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
  }

  .header nav ul {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    align-items: center;
  }

  .header nav ul li {
    margin: 0.5rem 0;
  }

  .header nav ul li a {
    font-size: 1rem;
  }

  .menuIcon {
    display: block;
    flex-shrink: 0;
  }
}

/* @media (max-width: 480px) {
  .header nav ul li a {
    font-size: 16px;
  }

  .header {
    padding: 0.8rem;
  }
} */
