.about_us {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 3rem 5rem;
}

.about_us_section {
  max-width: 40%;
}

.about_us_p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    line-height: 1.5rem;
}
